<div class="col-md-12">
    <div class="card">
        <div class="card-header row">
            <div class="col-md-6">
                <h4 class="card-title">Категории</h4>
                <p class="category">Здесь Вы можете добавлять/удалять и редактировать категории.</p>
            </div>
            <div class="col-md-6">
                <button class="btn btn-info btn-fill btn-wd pull-right"
                        data-toggle="modal" data-target="#categoriesModal">Добавить
                </button>
            </div>
        </div>
        <div class="card-content table-responsive table-full-width">
            <table class="table">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <!--<th class="text-right">Опции</th>-->
                </tr>
                </thead>
                <tbody>
                <!---->
                <tr *ngFor="let category of categories$ | async">
                    <td>{{category.category}}</td>
                    <td>{{category.description}}</td>
                    <!--<options></options>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
