<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Корзина</h4>
      <p class="category">Корзина для вашего приложения</p>
      <br>
    </div>
    <div class="table-responsive">
      <table class="table table-shopping">
        <thead>
        <tr>
          <th class="text-center"></th>
          <th></th>
          <th class="text-right">Price</th>
          <th class="text-right">Quantity</th>
          <th class="text-right">Total</th>
        </tr>
        </thead>
        <tbody>
        <!----><tr>
          <td class="image-75px">
            <div class="image">
              <img alt="..." src="../../assets/img/angular2-logo.png">
            </div>
          </td>
          <td class="td-product">
            <strong>Get Shit Done Notebook</strong>
            <p>Most beautiful agenda for the office.</p>
          </td>
          <td class="td-price">
            <small>€</small>49
          </td>
          <td class="td-number td-quantity">
            1
            <div class="btn-group">
              <button class="btn btn-sm"><i class="ti-minus"></i></button>
              <button class="btn btn-sm"><i class="ti-plus"></i></button>
            </div>
          </td>
          <td class="td-number">
            <small>€</small>549
          </td>
        </tr>

        <tr>
          <td colspan="2"></td>
          <td></td>
          <td class="td-total">
            Total
          </td>
          <td class="td-total">
            €2,346.00
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>