<div class="col-md-12">
    <div class="card">
        <div class="card-header row">
            <div class="col-md-6">
                <h4 class="card-title">Комментарии</h4>
                <p class="category">Здесь Вы можете удалять и редактировать комментарии.</p>
            </div>
        </div>
        <div class="card-content table-responsive table-full-width">
            <table class="table">
                <thead>
                <tr>
                    <th>Имя</th>
                    <th>Комментарий</th>
                    <th class="text-right">Опции</th>
                </tr>
                </thead>
                <tbody>
                <!---->
                <tr>
                    <td>Белый человек</td>
                    <td>Хочу оставить исключительно положительный комментарий и оставляю такой!</td>
                    <td class="td-actions text-right">
                        <a class="btn btn-danger btn-simple btn-xs" rel="tooltip" title="" data-original-title="Remove">
                            <i class="ti-close"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
